#page-funcionario-list {
  width: 100vw;
  height: 100vh;
}

#search-funcionarios {
  margin-top: 3.2rem;
}

#search-funcionarios label {
  color: var(--color-text-in-primary);
}

#search-funcionarios button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

#search-funcionarios button:hover {
  background: var(--color-secundary-dark);
}

#page-funcionario-list main {
  margin: 3.2rem auto;
  width: 90%;
}

@media (min-width: 700px) {
  #page-funcionario-list {
    max-width: 100vw;
  }

  #search-funcionarios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    position: absolute;
    bottom: -28px;
  }

  #search-funcionarios .input-block + .input-block,
  #search-funcionarios .select-block + .select-block {
    margin-top: 0;
  }

  #page-funcionario-list main {
    padding: 3.2rem 0;
    max-width: 740px;
    margin: 0 auto;
  }
 
  .button {
    border: none;
    color: red;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
  }
  .box{
    display: flex;
    align-items: center;
    column-count: 3;

  }
}